.App {
  text-align: center;
}
body{
  background-color: #222;
  color: aliceblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.nav-cerrar{
  margin-top: 20px;
  display: flex;
  margin-left: 70%;
}
.inicia{
  margin-top: 25%;
  
}
.img{
  margin-right: 15px;
}
.capture{
  
}
.ajuste{
  display: flex;
  margin-top: 10%;
}
.camara{
  margin-right: 20px;
  margin-left: 10%;
  margin-top: 8.2%;
}
.btn{
   
}
.subirfoto{
  margin-top: 9%;
  margin-bottom: 5%;
}
.nombre{
margin-right: 15px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
